.container{
    background-color:var(--purple-colors);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 34px 180px ;
    height: 147px;
    border: 0.5px solid var(--gray-colors);
}
.container ul li{
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    margin: 0 10px;
    margin-left: 38.9px;
    font-size: 22px;
    cursor: pointer;
}
.listMenu{
    display: flex;
    flex-direction: row;
}
.buttonMenu{
    background-color: var(--green-colors);
    height: 50px;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    color: #FFFFFF;
    cursor: pointer;
    
}